
/*
* --------------------------------------------
* These are some styles that I am customizing 
* to over-ride the default bootstrap ones
*---------------------------------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


.bg-info {
    background-color: #23879e !important;     /* some secondary colour */
}

.navbar-light .navbar-brand {
    color: #f1f2f2;                           /* contrast to secondary colour */
}

.btn-primary {
    color: black;                           /* contrast to secondary colour */
    font-size: 150%;
    background-color: #79BD49;                /* some secondary colour */
    border-color: #79BD49;                    /* some accent colour */
    border-width: none
}

body {
    background-color: #f1f2f2;                /* some primary colour */
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cabin', sans-serif;

}

#urgent {
    background-color: #db4744;
}